@{
    var y = ViewBag.sub;
    var x = ViewBag.job;
    @x.title;
    @x.description;
    @x.requirement;
    @x.informations;
    @x.flyer;
    @x.stardate;
    @x.enddate;
    <input id="1" value="@y" hidden>
    <input id="2" value="@x.id" hidden>
    <button onclick=takeData(this)>Take Job</button>
}

<script type="text/javascript">
function takeData(btn)
{
var id = document.getElementById(1).value;
var idjob = document.getElementById(2).value;
    if(id != 1)
    {
        window.location.href='/Home/TakeJob?idjob='+idjob+'&idseeker='+id;
    }
    else
    {
        window.location.href='/Home/Fail'
    }
}
</script>